@import '../../core/styles/colors.scss';

header.header-backend {
	background: $color-orange;
	position: static;

	.img-avatar {
		border-radius: 50%;
		height: 32px;
		width: 32px;
		margin-right: 10px;
		float: left;
	}

	.nav-link {
		height:46px;
		background:$color-orange;
		padding:8px 15px !important;
		margin:-8px -15px -8px 20px !important;
		border-radius:4px;
		line-height:30px !important;

		&:hover {
			background:$color-orange-dark;
			color:#fff !important;
		}
	}

	.navbar-brand {
		margin-top: -8px;
	}

	.account-toggle {
		border:none;
		padding-left:10px;
		padding-right:10px;
		color:#fff;
		font-weight:500;
		height:46px;
		padding:5px 15px !important;
		margin:-8px -15px -8px 20px !important;


		&.btn:hover,
		&.btn:active,
		&.btn:focus{
			background:$color-orange-dark !important;
			color:#fff !important;

			span {
				color: #fff !important;
			}
		}
	}

	.nav-item {
		line-height:30px;
	}

}
