@import '../../core/styles/colors.scss';

.route-login .section-form,
.route-signup .section-form {
	width:100%;
	float:left;
	background: #dac9b7;
	padding: 180px 0px 200px;

	.btn {
		margin-top:20px;
		margin-bottom:40px;
	}

	h2 {
		font-size: 48px;
		line-height: 48px;
		font-weight:500;
		margin-bottom:60px;
		color:#fff;
	}

}
