@import '../../core/styles/colors.scss';

.challenge-card {
	background:$color-beige;
	border:none;

	h3 {
		font-weight:600;
		margin-bottom:0px;
	}

	.card-image {
		width:100%;
		height:auto;
		padding:20px 40px;

		img {
			width:100%;
			height:auto;
		}
	}
}
