@import '../../core/styles/colors.scss';

.route-challenge {

	.section-challenge {
		width: 100%;
		float: left;
		padding: 60px 0px 30px;
		background: $color-beige;

		.with-border {
			border-top:1px solid #eee;
		}

		h2 {
			margin-bottom:0px;
		}

		.padding-right {
			padding-right:10px !important;
		}

		.card-active {
			box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
			border: 1px solid #ccc;
		}

		.card-text > *:last-child {
			margin-bottom: 0px;
		}

		.card-text + .form-group {
			margin-top:20px;
		}

		.form-group {
			margin-bottom:0px;
		}
	}

	.alert-nomargin {
		margin-bottom:0px;
	}

	.modal-badge-img {
		width:100%;
		height:auto;
	}

}
