@import '../../core/styles/colors.scss';

.route-home .section-about {
	width: 100%;
	float:left;
	background:$color-beige;
	padding: 60px 0px 50px;

	.fa {
		font-size:48px;
		opacity: .5;
		margin-bottom:20px;
		display:inline-block;
	}
}
