@import '../../core/styles/colors.scss';

.route-home .section-mentions {
	width: 100%;
	float:left;
	text-align:center;
	background:url(../../../static/images/home/mentions.png) no-repeat center center;
	height:145px;
}
